
<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>

      <div class="modal-body">
        <form method="POST" class="form">
          {% csrf_token %}
          {% for field in form %}
            <div class="form__group">
                <label class="form__label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                <div>{{field}}</div>
            </div>
          {% endfor %}
          {{ form.media}}

          <button class="form__button" type="submit">Добавить</button>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

